<h1><%= t ".title" %></h1>

<%= render 'form', character: @character %>

<%= link_to character_path(@character, take_params) do %>
  <i class="fas fa-info-circle"></i>
<% end %>
 |
<%= link_to characters_path(take_params) do %>
  <i class="fas fa-reply"></i>
<% end %>
