// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* テキストフォームに×アイコン表示 */
.keyword-search {
  position: relative; // これ書かないとフォームに×を取り込めない
  display: inline-block;
 .clear-button {
   width: 13px;
   height: 13px;
   position: absolute; // ×をフォーム右端に配置
   right: 2px;
   top: 4px;
   cursor: pointer; // ×にカーソルを当てたらポインタに変える
   visibility: hidden; // フィールドが空なら×ボタン非表示
  }
}

/* form ラジオボタンを横並びにする */
.radio-button-form {
  display: inline-flex;
}

/* 画像を横並びにする */
.side-by-side {
  display: inline-block;
}

/* 画像サイズ統一 */
.image-size {
  max-width: 100%;
  max-height: 320px; //高さは指定する
}

/* 画像位置上下中央揃え */
.image-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOPサムネイル */
.top-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover; //画像縦横比保持
  object-position: center center; //位置フォーカス
}

/* 画像スライド外枠 */
.swiper-container {
  width: 600px;
  height: 600px;
}

/* ここからshow画面タブ切り替え */
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
}

.tab-label {
  color: White;
  background: LightGray;
  margin-right: 5px;
  padding: 3px 12px;
  order: -1;
}

.tab-content {
  width: 100%;
  display: none;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: Black;
}
.tab-switch:checked+.tab-label+.tab-content {
  display: block;
}

/* タブ切り替えラジオボタン非表示 */
.tab-switch {
  display: none;
}
/* ここまでshow画面タブ切り替え */


/* ここから検索フォームレイアウト */
.search-field-wrap {
  display: inline-block;
  height: 30px;
  .radio-buttons {
    display: inline-flex; //ラジオボタン横並び
  }
}
/* ここまで検索フォームレイアウト */
